* {
   box-sizing: border-box;
}

div {
   display: block;
}

.menuItem{
   text-decoration: none;
   color: white;
   padding: 10px;
   font-size: 18px;
}

.landing{
   background-image: url('https://images.pexels.com/photos/8593218/pexels-photo-8593218.jpeg?auto=compress&cs=tinysrgb');
   background-position: center;
   background-size: auto;
   background-repeat: no-repeat;
}

form {
   display: block;
   margin-top: 0em;
}

#page {
   display: grid;
   flex-direction: column;
   height: 100%;
}

.main {
   position: absolute;
   display: block;
}

.Search {
   position: relative;
   text-align: center;
   font-size: 20px;
   color: white;
}

.box {
   height: 30px;
   margin: auto;
   box-shadow: none;
   border-style: flex;
   border-radius: 1em;
   width: 800px;
}

#advButton {
   box-shadow: none;
   font-size: 18px;
   border: 1px solid #3079ed;
   border-radius: 2px;
   background-color: #4d90fe;
   color: white;
}

.mbutton {
   margin: auto;
   border: none;
   border-radius: 4px;
   font-size: 15px;
   color: white;
   padding: 15px;
   display: inline-block;
   position: relative;
   background-color: black;
}

.mbutton:hover {
   box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
   background-color: #f8f9fa;
   border: 1px solid #dadce0;
}

#buttoncontainer {
   text-align: center;
   margin-top: 10px;
   width: 100%;
}

#searchForm {
   margin: auto;
   width: 80%;
   border: 0px solid;
   padding: 10px;
   margin-top: 100px;
}

.bar{
   text-align: left;
   background-color: black; 
   padding: 10px;
   display: block;
   border:3px solid transparent;
   text-align: right;
}