* {
   box-sizing: border-box;
}

.main{
   position: absolute;
   display: block;
}

#q {
   margin: auto;
   border-style: flex;
   border-radius: 1em;
}

#advButton {
   box-shadow: none;
   border: 1px solid #3079ed;
   background-color: #4d90fe;
   color: white;
}