* {
   box-sizing: border-box;
}

div {
   display: block;
}

form {
   display: block;
   margin-top: 0em;
}

#page {
   display: grid;
   flex-direction: column;
   height: 100%;
}

.main {
   position: absolute;
   display: block;
}

.Search {
   position: relative;

}

.box {
   height: 35px;
   width: 850px;
   margin: auto auto auto auto;
   box-shadow: none;
   border-style: flex;
   border-radius: 1em;
}

#advButton {
   box-shadow: none;
   border: 1px solid #3079ed;
   border-radius: 2px;
   background-color: #4d90fe;
   color: white;
}

.mbutton {
   margin: auto;
   border: none;
   border-radius: 4px;

   height: 30px;
   min-width: 120px;

   position: relative;
}

.mbutton:hover {
   box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
   background-color: #f8f9fa;
   border: 1px solid #dadce0;
}

#buttoncontainer {
   text-align: center;
   margin-top: 10px;
   width: 100%;
}

#searchForm {
   margin: auto;
   width: 80%;
   border: 0px solid;
   padding: 10px;
   margin-top: 100px;
}

.bar{
   text-align: left;
}

.input-box{
   box-sizing: border-box;
   border-radius: 50px;
   width: 50rem;
   margin: auto;
   height: 33px;
   padding-left: 30px;
}

.input-box:hover{
   box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
   background-color: #f0ecec;
}

input:focus, textarea:focus, select:focus{
   outline: none;
}